<!DOCTYPE html>
<html>
<head>
  <title>DriverGuru</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- how do i bring in the animate.css stuff here? -->
   <!-- <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>  -->
<!--    <link rel="stylesheet" href="css/animate.css"> -->

<!--    <link href="css/style.css" type ="text/css" rel="stylesheet"/> -->

   <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>

</head>
<body>
	 	<a name="home"></a> 
<div class="container-fluid">
<!-- top Nav bar -->
 	<div class = "navbar navbar-inverse navbar-fixed-top topnavbar">
		<div class = "navbar.header ">
				<a href = "#home" class = "navbar-brand logotext">DriverJi</a>
				<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse"> 
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
				</button>
				<div class = "collapse navbar-collapse navHeaderCollapse">
					<ul class = "nav navbar-nav navbar-right navbar-header">
						<li ><a href = "#">Home</a></li>
						<!-- <li class = "dropdown">
							<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown"> Learn More <b class = "caret"></b></a>
							<ul class = "dropdown-menu"> -->
								<li><a href = "#platformSection">Our Platform</a></li>
								<li><a href = "#questionSection">Questions?</a></li>
							<!-- </ul> -->
						<li><a href = "#">Contact Us</a></li>

						<!-- <li><a href = "#" >Find a Driver!</a></li> -->
					</ul>	
				</div>
		</div>
	</div>
</div>

	<% if flash[:error] %>
	<div class ="flash">
  		<%flash[:error].each do |x,y| %>
   	<p><%= x%> : <%= y.join(',') %></p>
  	<%end%>
	</div>
	
<%end%>
	<%= yield %>
	</div>
</body>
</html>
